div#component-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

div.panel.with-buttons > div.panel-heading {
  line-height: 32px;
}

div.panel.with-buttons div.panel-heading .btn {
  margin-left: 3px;
  margin-right: 3px;
}

span.menu-name {
  font-weight: bold;
}
span.menu-description {
  font-style: italic;
}
span.menu-number {
  font-size: 16px;
  font-weight: bold;
}
span.menu-price {
  font-size: 15px;
  font-weight: bold;
}

span.ingredient-name {
  font-weight: bold;
}

span.ingredient-price {
  font-weight: bold;
}

.ingredient-price-col {
  text-align: right;
}

span.ingredient-description {
  font-style: italic;
}

.autowidth {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}

.stick-right {
  padding-right: 0;
  margin-right: 0;
  text-align: right;
}

.panel-low {
  margin-bottom: 3px;
}

div.page-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

span.order-type {
  font-weight: bold;
  font-size: 16px;
}

span.order-price {
  font-weight: bold;
}

span.order-description {
  font-style: italic;
}

span.order-times {
  font-weight: bold;
}

.time-picker-col {
  font-weight: bold;
}
.time-picker-button {
}
span.price-constant-name {
  font-weight: bold;
}

span.separated-buttons {
  button, a {
    margin-left: 5px;
  }
}

.alert-info small {
  color: #5A8594;
}

.well.well-xs {
  padding: 0;
}

.items-row {
  margin-top: 10px;
}

.login-parent {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.itembar-col {
  padding-top: 5px;
  height: 25px;
}

.grid-compact{
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 0;
  }
}

.items-progress-menu-1 {
  background-color: #AB0000;
}

.items-progress-menu-2 {
  background-color: #607625;
}

.items-progress-menu-3 {
  background-color: #096589;
}

.items-progress-menu-4 {
  background-color: #D75813;
}

.items-progress-menu-5 {
  background-color: #484538;
}

.items-progress-menu-6 {
  background-color: #593E63;
}

.items-progress-menu-7 {
  background-color: #7D451B;
}

.items-progress-menu-8 {
  background-color: #AF910C;
}

.items-progress-menu-9 {
  background-color: #005000;
}

.items-progress-menu-10 {
  background-color: #111111;
}
